@media screen and (max-width: 1199px) {
	aside{
		padding-left:0;
	}
	.subscribe {
	  margin-left: 0;
	  
	  width: 100%;
	}
	.sidebar{
	  margin-left: 0;
	}
	
	.scroll-fixed-subscribe{
		width:290px;

	}
}
@media screen and (max-width: 991px) {
	
	
	.main-content .container{
		min-width:90%;
	}
	.main-content .container .row{
		display: flex;
	}
	.header-link-wrapper{
		margin-left: 80px;
	}
	.header-search{
		right:100px;
	}

	
	
	
	

	.main-content-article{
		min-height: 650px;
	}
	.article-meta{
		margin-top: 150px;
	}
	.header-nav a{
		padding:7px 8px;
		font-size: 14px;
	}
	.sidebar-item-cont a{
		font-size: 13px;
	}
	.subscribe, .sidebar{
		width:100%;
	}
	.all_articles{
		display: flex;
		flex-direction: column;
	}
	.all_articles_pic{
		margin: 0;
		width: 100%;
	}
	.all_articles .subscribe-button{
		display: none;
	}
	
	.scroll-fixed-subscribe{
		display: none;
	}
	.footer .about{
		width:200px;
	}
	.footer .col-sm .copyright{
		margin-top: 0;
		margin-left: 0;
	}
	.footer .col-sm .contacts {
		margin-right: 0;
	}
}
@media screen and (max-width: 768px) {
	
	.sidebar-item-cont a{
		line-height: 1.1;
	}
	.col-8{
		min-width: 100%;
	}
	.col-4{
		display: none;
	}
	.footer .col-sm .about{
		margin:0;
	}
	.footer .col-sm .contacts {
		margin:0;
	}
}

@media screen and (max-width: 575px) {
	.col-8{
		min-width: 100%;
	}
	.col-4{
		display: none;
	}
	
	.header-nav{
		display: none;
	}
	
	
	
	.menu-link {
		display: block;
	}
	.header-content-wrapper{
		margin-top: 30px;
	}
	
	.header-search{
		right: 80px;
	}
	.header-search input[name="search"]{
		width:150px;
	}
	.header-search img{
		display: none;
	}
	.header-link-wrapper{
		margin-left: 20px;
	}
	.main-content-article{
		max-height: 650px;
	}

	.footer .col-sm .copyright{
		margin-left: 0;
		margin-top: 0;
		margin:0 auto;
	}
	.footer .col-sm .about{
		display: none;
	}

	.footer .col-sm .contacts{
		margin: 0;
		font-size: 14px;
		line-height: 1.1;
	}
}
@media screen and (max-width: 425px){
	.header-search input[name="search"]{
		min-width:95%;
		
		margin:63px auto 0 auto;


	}
	.header-search{
		right:10px;
		min-width:95%;
		
	}
	.header-content-wrapper{
		margin-top: 40px;
	}
	.header-content .header-content-right{
		margin:20px 0 0 0;
	}
	.main-content{
		margin-top: 30px;
	}
	
	.header-nav1{
		margin-top: 50px;
	}
	
}